
<div *ngIf="transaction">
    <h2><span>Transaction</span> {{transaction.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Sifra BS</span></dt>
        <dd>
            <span>{{transaction.sifraBS}}</span>
        </dd>
        <dt><span>Broj Racuna</span></dt>
        <dd>
            <span>{{transaction.brojRacuna}}</span>
        </dd>
        <dt><span>Broj Stavke</span></dt>
        <dd>
            <span>{{transaction.brojStavke}}</span>
        </dd>
        <dt><span>Datum</span></dt>
        <dd>
            <span>{{transaction.datum}}</span>
        </dd>
        <dt><span>Vreme</span></dt>
        <dd>
            <span>{{transaction.vreme}}</span>
        </dd>
        <dt><span>Tip Kupca</span></dt>
        <dd>
            <span>{{transaction.tipKupca}}</span>
        </dd>
        <dt><span>Sifra Robe</span></dt>
        <dd>
            <span>{{transaction.sifraRobe}}</span>
        </dd>
        <dt><span>Naziv Robe</span></dt>
        <dd>
            <span>{{transaction.nazivRobe}}</span>
        </dd>
        <dt><span>Vrsta Robe</span></dt>
        <dd>
            <span>{{transaction.vrstaRobe}}</span>
        </dd>
        <dt><span>Grupa Robe</span></dt>
        <dd>
            <span>{{transaction.grupaRobe}}</span>
        </dd>
        <dt><span>Hijerarhija Robe</span></dt>
        <dd>
            <span>{{transaction.hijerarhijaRobe}}</span>
        </dd>
        <dt><span>Kolicina</span></dt>
        <dd>
            <span>{{transaction.kolicina}}</span>
        </dd>
        <dt><span>Konacna Cena</span></dt>
        <dd>
            <span>{{transaction.konacnaCena}}</span>
        </dd>
        <dt><span>Osnovna Cena</span></dt>
        <dd>
            <span>{{transaction.osnovnaCena}}</span>
        </dd>
        <dt><span>Kompanijska Kartica</span></dt>
        <dd>
            <span>{{transaction.kompanijskaKartica}}</span>
        </dd>
        <dt><span>Loyalty Kartica</span></dt>
        <dd>
            <span>{{transaction.loyaltyKartica}}</span>
        </dd>
        <dt><span>Loyalty Kartica Status</span></dt>
        <dd>
            <span>{{transaction.loyaltyKarticaStatus}}</span>
        </dd>
        <dt><span>Loyalty Poeni</span></dt>
        <dd>
            <span>{{transaction.loyaltyPoeni}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'transaction/'+ transaction.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
