.fuelImg {
    display: inline-block;
    width: 256px;
    height: 150px;
    background: url("../../content/images/fuelImg.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}