<div class="row">
	<div class="col-12">
		<span class='qrcode'></span>
		  <!-- Email -->
		  
	</div>
	<div class="col-12">
    <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://simplesharebuttons.com">
        <img style="height:auto; margin-bottom: 50px" src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
 
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
        <img style="height:auto; margin-bottom: 50px" src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=https://simplesharebuttons.com" target="_blank">
        <img style="height:auto; margin-bottom: 50px" src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
	</div>
</div>