 <button type="submit"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-cart-plus"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>

<div class="row">
	<div class="col-6">
		<a (click)="addToCart(1)"> <span
			class="kafa img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a (click)="addToCart(2)"> <span
			class="cola img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a (click)="addToCart(3)"> <span
			class="fanta img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a (click)="addToCart(4)"> <span
			class="energetsko img-fluid rounded"></span>
		</a>
	</div>
</div>