.energetsko {
    display: inline-block;
    width: 305px;
    height: 150px;
    background: url("../../../content/images/app/items/group2/energetskopice.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.kafa {
    display: inline-block;
    width: 305px;
    height: 150px;
    background: url("../../../content/images/app/items/group2/kafa.jpg") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.fanta {
    display: inline-block;
    width: 305px;
    height: 150px;
    background: url("../../../content/images/app/items/group2/fanta.jpg") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.cola {
    display: inline-block;
    width: 305px;
    height: 150px;
    background: url("../../../content/images/app/items/group2/cola.jpg") no-repeat center top;
    background-size: contain;
    padding: 0;
}