<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myItemLabel">Create or edit a Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!item.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="item.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_nazivRobe">Naziv Robe</label>
            <input type="text" class="form-control" name="nazivRobe" id="field_nazivRobe"
                [(ngModel)]="item.nazivRobe" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_vrstaRobe">Vrsta Robe</label>
            <input type="text" class="form-control" name="vrstaRobe" id="field_vrstaRobe"
                [(ngModel)]="item.vrstaRobe" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_grupaRobe">Grupa Robe</label>
            <input type="text" class="form-control" name="grupaRobe" id="field_grupaRobe"
                [(ngModel)]="item.grupaRobe" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_hijerarhijaRobe">Hijerarhija Robe</label>
            <input type="text" class="form-control" name="hijerarhijaRobe" id="field_hijerarhijaRobe"
                [(ngModel)]="item.hijerarhijaRobe" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_osnovnaCena">Osnovna Cena</label>
            <input type="number" class="form-control" name="osnovnaCena" id="field_osnovnaCena"
                [(ngModel)]="item.osnovnaCena" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_slika">Slika</label>
            <input type="text" class="form-control" name="slika" id="field_slika"
                [(ngModel)]="item.slika" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_kolicina">Kolicina</label>
            <input type="number" class="form-control" name="kolicina" id="field_kolicina"
                [(ngModel)]="item.kolicina" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_qrcode">Qrcode</label>
            <select class="form-control" id="field_qrcode" name="qrcode" [(ngModel)]="item.qrcode" >
                <option [ngValue]="null"></option>
                <option [ngValue]="qrcodeOption.id === item.qrcode?.id ? item.qrcode : qrcodeOption" *ngFor="let qrcodeOption of qrcodes; trackBy: trackQrcodeById">{{qrcodeOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
