
<div class="row">
	<div class="col-6">
		<a [routerLink]="['../item', 1 ]"> <span
			class="group5 img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a [routerLink]="['../item', 2 ]"> <span
			class="group4 img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a [routerLink]="['../item', 3 ]"> <span
			class="group2 img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a [routerLink]="['../item', 4 ]"> <span
			class="group3 img-fluid rounded"></span>
		</a>
	</div>
</div>