
.col-12 {
    display: block;
    height: 180px;
    padding: 0;
}

.col-6 {
    padding: 0;
    height: 160px;
}

.group2 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../../content/images/app/group2.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group3 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../../content/images/app/group3.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group4 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../../content/images/app/group4.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group5 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../../content/images/app/group5.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group6 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../../content/images/app/group6.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}