
<div *ngIf="item">
    <h2><span>Item</span> {{item.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Naziv Robe</span></dt>
        <dd>
            <span>{{item.nazivRobe}}</span>
        </dd>
        <dt><span>Vrsta Robe</span></dt>
        <dd>
            <span>{{item.vrstaRobe}}</span>
        </dd>
        <dt><span>Grupa Robe</span></dt>
        <dd>
            <span>{{item.grupaRobe}}</span>
        </dd>
        <dt><span>Hijerarhija Robe</span></dt>
        <dd>
            <span>{{item.hijerarhijaRobe}}</span>
        </dd>
        <dt><span>Osnovna Cena</span></dt>
        <dd>
            <span>{{item.osnovnaCena}}</span>
        </dd>
        <dt><span>Slika</span></dt>
        <dd>
            <span>{{item.slika}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'item/'+ item.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
