<div class="row">
	<div class="col-12">
		<a [routerLink]="['../fuel']"> <span
			class="group6"></span>
		</a>
	</div>

	<div class="col-6"> <!-- g friend -->
		<a [routerLink]="['../item', 1 ]"> <span
			class="group5"></span>
		</a>
	</div>
	<div class="col-6"> <!-- pice -->
		<a [routerLink]="['../item', 2 ]"> <span
			class="group4"></span>
		</a>
	</div>
	<div class="col-6"> <!-- hrana -->
		<a [routerLink]="['../item', 3 ]"> <span
			class="group2"></span>
		</a>
	</div>
	<div class="col-6"> <!-- auto -->
		<a [routerLink]="['../item', 4 ]"> <span
			class="group3"></span>
		</a>
	</div>

</div>
