
<div class="row">
	<div class="col-12">
		<a [routerLink]="['../fuel']"> <span
			class="group6 img-fluid rounded"></span>
		</a>
	</div>

	<div class="col-6">
		<a [routerLink]="['../drink']"> <span
			class="group5 img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a [routerLink]="['../friend']"> <span
			class="group4 img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a [routerLink]="['../food']"> <span
			class="group2 img-fluid rounded"></span>
		</a>
	</div>
	<div class="col-6">
		<a [routerLink]="['../auto']"> <span
			class="group3 img-fluid rounded"></span>
		</a>
	</div>


</div>