<!-- 		<div [ngSwitch]="isAuthenticated()">
		
			<span class="group6 img-fluid rounded"></span>
					<span class="group2 img-fluid rounded"></span>
					<span class="group3 img-fluid rounded"></span>
					<span class="group4 img-fluid rounded"></span>
					<span class="group5 img-fluid rounded"></span>
		</div>
 -->
		
<div class="row">
<div class="col-12"><span class="group6 img-fluid rounded"></span></div>
  <div class="col-6"><span class="group5 img-fluid rounded"></span></div>
  <div class="col-6"><span class="group2 img-fluid rounded"></span></div>
  <div class="col-6"><span class="group3 img-fluid rounded"></span></div>
  <div class="col-6"><span class="group4 img-fluid rounded"></span></div>
</div>