
/* ==========================================================================
Main page styles
========================================================================== */

.col-12 {
    display: block;
    height: 180px;
    padding: 0;
}

.col-6 {
    padding: 0;
    height: 160px;
}

.group2 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/app/group2.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group3 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/app/group3.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group4 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/app/group4.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group5 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/app/group5.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

.group6 {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/app/group6.png") no-repeat center top;
    background-size: contain;
    padding: 0;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
}
