
<div *ngIf="qrcode">
    <h2><span>Qrcode</span> {{qrcode.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Transaction Id</span></dt>
        <dd>
            <span>{{qrcode.transactionId}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{qrcode.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'qrcode/'+ qrcode.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
